@import "../theme.css";

.alinea-rac-Button {
  --alinea-button-bg: light-dark(
    var(--alinea-gray-100),
    var(--alinea-gray-800)
  );
  --alinea-button-border: transparent;
  --alinea-button-color: light-dark(
    var(--alinea-gray-800),
    var(--alinea-gray-200)
  );
  --alinea-button-hovered: light-dark(
    var(--alinea-gray-200),
    var(--alinea-gray-700)
  );

  appearance: none;
  cursor: pointer;
  outline: none;
  position: relative;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  gap: 6px;
  background-color: var(--alinea-button-bg);
  padding: 3px 10px;
  border: 1px solid var(--alinea-button-border);
  border-radius: 4px;
  color: var(--alinea-button-color);
  font: inherit;
  font-size: var(--alinea-font-size-base);
  line-height: 24px;
  text-decoration: none;
  text-align: left;
  transition: var(--alinea-transition);
  transition-property: background-color, border-color, color;

  &[data-appearance="outline"] {
    --alinea-button-bg: transparent;
    --alinea-button-border: light-dark(
      var(--alinea-gray-100),
      var(--alinea-gray-800)
    );
  }

  &[data-appearance="plain"] {
    --alinea-button-bg: transparent;
  }

  &[data-hovered] {
    background-color: var(--alinea-button-hovered);
  }

  &[data-focus-visible] {
    outline: 2px solid var(--alinea-button-bg);
    outline-offset: 2px;

    /* &[data-appearance="outline"],
    &[data-appearance="plain"] {
      outline-color: var(--alinea-button-border);
    } */
  }

  &[data-disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &[data-size="small"] {
    padding: 2px 10px;
    line-height: 20px;
  }

  &[data-size="large"] {
    padding: 8px 14px;
  }

  [data-slot="icon"] {
    flex-shrink: 0;
    display: block;
  }

  &[data-size="icon"] {
    --alinea-font-size-base: 1rem;
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    padding: 0;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    [data-slot="icon"] {
      font-size: var(--alinea-font-size-base);
    }
  }

  &[data-size="square-petite"] {
    --alinea-font-size-base: 1rem;
    width: 2rem;
    height: 2rem;
    padding: 0;
    border-radius: 0.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    [data-slot="icon"] {
      font-size: var(--alinea-font-size-base);
    }

    &[data-appearance="plain"] {
      color: var(--alinea-icon-color-plain);
    }

    &[data-hovered] {
      background-color: var(--alinea-button-hovered);
      color: var(--alinea-button-color);
    }

    &[data-hovered][data-appearance="plain"] {
      background-color: var(--alinea-background-color);
      color: var(--alinea-text-color-hover);
    }

    &[data-hovered][data-appearance="outline"] {
      color: var(--alinea-highlight-foreground);
      background-color: var(--alinea-highlight-background-hovered);
    }
  }

  &[data-intent="primary"] {
    --alinea-button-bg: var(--alinea-highlight-background);
    --alinea-button-color: var(--alinea-highlight-foreground);
    --alinea-button-hovered: var(--alinea-highlight-background-hovered);

    &[data-appearance="outline"] {
      --alinea-button-bg: transparent;
      --alinea-button-border: var(--alinea-highlight-background);
      --alinea-button-color: var(--alinea-highlight-background);
    }

    &[data-appearance="plain"] {
      --alinea-button-bg: transparent;
      --alinea-button-color: var(--alinea-highlight-background);
    }

    &[data-hovered][data-appearance="outline"],
    &[data-hovered][data-appearance="plain"] {
      --alinea-button-color: var(--alinea-highlight-foreground);
    }
  }

  &[data-intent="secondary"] {
    --alinea-button-bg: var(--alinea-selected-background);
    --alinea-button-color: var(--alinea-selected-foreground);
    --alinea-button-hovered: var(--alinea-selected-background);

    &[data-appearance="outline"] {
      --alinea-button-bg: transparent;
      --alinea-button-border: var(--alinea-selected-background);
    }

    &[data-appearance="plain"] {
      --alinea-button-bg: transparent;
      --alinea-button-color: var(--alinea-highlight-background);
    }

    &[data-hovered] {
      --alinea-button-hovered: var(--alinea-highlight-background);
      --alinea-button-color: var(--alinea-highlight-foreground);
    }

    &[data-hovered][data-appearance="outline"],
    &[data-hovered][data-appearance="plain"] {
      --alinea-button-hovered: var(--alinea-selected-background);
      --alinea-button-color: var(--alinea-selected-foreground);
    }
  }

  &[data-intent="danger"] {
    --alinea-button-color: var(--alinea-gray-50);
    --alinea-button-bg: var(--alinea-danger-400);
    --alinea-button-hovered: var(--alinea-danger-500);

    &[data-disabled] {
      --alinea-button-color: var(--alinea-danger-400);
      --alinea-button-bg: var(--alinea-danger-50);
    }

    &[data-hovered] {
      --alinea-button-bg: var(--alinea-button-hovered);
    }

    &[data-appearance="outline"] {
      --alinea-button-color: var(--alinea-danger-400);
      --alinea-button-bg: transparent;
      --alinea-button-border: var(--alinea-danger-400);
      --alinea-button-hovered: var(--alinea-danger-50);
    }

    &[data-appearance="outline"][data-disabled] {
      --alinea-button-color: var(--alinea-danger-200);
      --alinea-button-border: var(--alinea-danger-200);
      --alinea-button-bg: transparent;
    }

    &[data-appearance="outline"][data-hovered] {
      --alinea-button-bg: var(--alinea-button-hovered);
    }

    &[data-appearance="plain"] {
      --alinea-button-color: var(--alinea-danger-500);
    }

    &[data-appearance="plain"][data-hovered] {
      --alinea-button-color: var(--alinea-gray-50);
    }
  }

  &[data-intent="warning"] {
    --alinea-button-color: var(--alinea-gray-900);
    --alinea-button-bg: var(--alinea-warning-400);
    --alinea-button-hovered: var(--alinea-warning-500);

    &[data-disabled] {
      --alinea-button-color: var(--alinea-warning-400);
      --alinea-button-bg: var(--alinea-warning-50);
    }

    &[data-hovered] {
      --alinea-button-bg: var(--alinea-button-hovered);
    }

    &[data-appearance="outline"] {
      --alinea-button-color: var(--alinea-warning-600);
      --alinea-button-bg: transparent;
      --alinea-button-border: var(--alinea-warning-600);
      --alinea-button-hovered: var(--alinea-warning-50);
    }

    &[data-appearance="outline"][data-disabled] {
      --alinea-button-color: var(--alinea-warning-400);
      --alinea-button-border: var(--alinea-warning-400);
      --alinea-button-bg: transparent;
    }

    &[data-appearance="outline"][data-hovered] {
      --alinea-button-bg: var(--alinea-button-hovered);
    }

    &[data-appearance="plain"] {
      --alinea-button-color: var(--alinea-warning-600);
    }
    &[data-appearance="plain"][data-hovered] {
      --alinea-button-color: var(--alinea-gray-900);
    }
  }
}
