@import "../todo/ListBox.css";
@import "../todo/Popover.css";
@import "../theme.css";

.alinea-rac-Combobox {
  color: var(--text-color);
  width: 250px;
  display: flex;
  align-items: center;
  position: relative;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  background: var(--field-background);
  transition: var(--transition);
  height: 40px;
}

.alinea-rac-Combobox-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.alinea-rac-Combobox-input {
  flex-grow: 1;
  border: none;
  background: none;
  padding: 8px 10px;
  outline: none;
  font-size: 0.875rem;
  line-height: 1.5;
  color: var(--field-text-color);
  width: 100%;
}

.alinea-rac-Combobox-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: var(--icon-color-plain);
}

.alinea-rac-Combobox-button-clear {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  color: var(--icon-color-plain);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 6px;
  transition: var(--transition);
}

.alinea-rac-Combobox-wrapper:has(.alinea-rac-Combobox-button-clear) {
  padding-right: 2rem;
}

.alinea-rac-Combobox-button-clear:hover {
  color: var(--icon-color-active);
}

.alinea-rac-Combobox-popover {
  .alinea-rac-Combobox-popover-listbox {
    outline: none;
    overflow-y: auto;
    scrollbar-width: thin;
    width: 100%;
    display: block;
    min-height: unset;
    max-height: inherit;
    padding: 4px;
    border-radius: 6px;
    border: 1px solid var(--border-color);
    background-color: var(--field-background);
  }
}

.alinea-rac-ComboBoxItem {
  cursor: pointer;
  font-size: 0.875rem;
  padding: 0.4rem;
  padding-right: 2.4rem;
  display: flex;
  outline: none;
  border-radius: 4px;
  justify-content: space-between;
  position: relative;
}

.alinea-rac-ComboBoxItem-check {
  font-size: 1rem;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.alinea-rac-ComboBoxItem[data-focus-visible] {
  outline: none;
}

.alinea-rac-ComboBoxItem[data-selected] {
  font-weight: 600;
  background: var(--border-color);
  color: var(--text-color);
  position: relative;
}

.alinea-rac-ComboBoxItem[data-focused],
.alinea-rac-ComboBoxItem[data-pressed] {
  background: var(--highlight-background);
  color: var(--highlight-foreground);
}
