@import "../todo/ListBox.css";
@import "../todo/Popover.css";

@import "../theme.css";

.alinea-rac-Combobox {
  color: var(--text-color);

  .react-aria-Input {
    /* margin: 0; */
    /* vertical-align: middle; */
    padding: 0.286rem 2rem 0.286rem 0.571rem;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    background: var(--field-background);
    font-size: 0.875rem;
    line-height: 1.5;
    color: var(--field-text-color);
    transition: var(--transition);

    &[data-hovered] {
      border-color: var(--border-color-hover);
    }

    &[data-focused] {
      outline: none;
      border-color: var(--highlight-background);
      box-shadow: 0 0 0 4px var(--highlight-overlay);
    }
  }

  .react-aria-Button {
    background: var(--highlight-background);
    color: var(--highlight-foreground);
    forced-color-adjust: none;
    border-radius: 4px;
    border: none;
    margin-left: -1.714rem;
    width: 1.429rem;
    height: 1.429rem;
    padding: 0;
    font-size: 0.857rem;
    cursor: default;

    &[data-pressed] {
      box-shadow: none;
      background: var(--highlight-background);
    }
  }
}

.react-aria-Popover[data-trigger="ComboBox"] {
  width: var(--trigger-width);

  .react-aria-ListBox {
    display: block;
    width: unset;
    max-height: inherit;
    min-height: unset;
    border: none;

    .react-aria-Header {
      padding-left: 1.571rem;
    }
  }

  .react-aria-ListBoxItem {
    cursor: pointer;
    font-size: 0.875rem;
    padding: 0.286rem 0.571rem 0.286rem 1.571rem;

    &[data-focus-visible] {
      outline: none;
    }

    &[data-selected] {
      font-weight: 600;
      background: unset;
      color: var(--text-color);
      position: relative;

      &::before {
        content: "✓";
        alt: " ";
        position: absolute;
        top: 50%;
        right: 4px; /* Verplaatst de checkmark naar rechts */
        transform: translateY(-50%); 
      }
    }

    &[data-focused],
    &[data-pressed] {
      background: var(--highlight-background);
      color: var(--highlight-foreground);
    }
  }
}

.react-aria-ListBoxItem[href] {
  text-decoration: none;
  cursor: pointer;
}

.react-aria-ComboBox {
  .react-aria-Input {
    &[data-disabled] {
      border-color: var(--border-color-disabled);
    }
  }

  .react-aria-Button {
    &[data-disabled] {
      background: var(--border-color-disabled);
    }
  }

  .react-aria-Input {
    &[data-invalid]:not([data-focused]) {
      border-color: var(--invalid-color);
    }
  }

  .react-aria-FieldError {
    font-size: 12px;
    color: var(--invalid-color);
  }

  [slot="description"] {
    font-size: 12px;
  }
}
