@import "../theme.css";

.alinea-rac-DateRangePicker {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: var(--text-color);

  .alinea-rac-DateRangePicker-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .alinea-rac-DateRangePicker-input-wrapper {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 4px 12px;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    background: var(--field-background);
    width: fit-content;
    white-space: nowrap;
    transition: var(--transition);
    font-size: 0.875rem;
    line-height: 1.5;
  }

  .alinea-rac-DateRangePicker-input-wrapper[data-disabled] {
    background: var(--field-background);
    color: var(--text-color-disabled);
    pointer-events: none;
    cursor: not-allowed;
  }
  .alinea-rac-DateRangePicker-input-wrapper:focus-within {
    border-color: var(--highlight-background);
    box-shadow: 0 0 0 4px var(--highlight-overlay);
    outline: none;
  }
  .alinea-rac-DateRangePicker-input {
    display: flex;
    flex-grow: 1;
    font-size: 0.875rem;
    border: none;
    outline: none;
    background: transparent;
    padding: 4px;
    color: var(--text-color);
  }

  .alinea-rac-DateRangePicker-separator {
    font-size: 1rem;
    font-weight: bold;
    color: var(--text-color-muted);
  }

  .alinea-rac-DateRangePicker-segment {
    padding: 0px 2px;
    font-variant-numeric: tabular-nums;
    text-align: center;
    color: var(--text-color);
  }

  .alinea-rac-DateRangePicker-segment[data-placeholder] {
    color: var(--text-color-placeholder);
    font-style: italic;
  }

  .alinea-rac-DateRangePicker-segment:focus {
    color: var(--highlight-foreground);
    background: var(--highlight-background);
    outline: none;
    border-radius: 4px;
    caret-color: transparent;
  }
  .alinea-rac-DateRangePicker-trigger {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    border-radius: 4px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: var(--transition);
    color: var(--icon-color);
    font-size: 1rem;
  }
}

.alinea-rac-DateRangePicker-popover {
  position: absolute;
  z-index: 1000;
  border: 1px solid var(--border-color);
  background-color: var(--field-background);
  border-radius: 6px;
  box-shadow: var(--shadow-lg);
  max-width: 320px;
  width: fit-content;
  animation: fadeIn 0.2s ease-in-out;
}

.alinea-rac-DateRangePicker-calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--field-background);
  border-radius: 6px;
  padding: 12px;
  .alinea-rac-DateRangePicker-calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 8px;
    font-weight: bold;
    color: var(--text-color);
  }

  .alinea-rac-DateRangePicker-calendar-heading {
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
  }

  .alinea-rac-DateRangePicker-calendar-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 4px;
    color: var(--icon-color);
    transition: var(--transition);
  }

  .alinea-rac-DateRangePicker-calendar-cell {
    text-align: center;
    padding: 6px;
    font-size: 0.875rem;
    transition: var(--transition);
    cursor: pointer;
  }
  .alinea-rac-DateRangePicker-calendar-cell[data-selected] {
    background-color: var(--indigo-300);
    color: var(--highlight-foreground);
    font-weight: bold;
  }

  .alinea-rac-DateRangePicker-calendar-cell[data-disabled] {
    color: var(--text-color-disabled);
    cursor: not-allowed;
  }
  .alinea-rac-DateRangePicker-calendar-cell[data-selection-start] {
    background-color: var(--highlight-background);
    border-start-start-radius: 6px;
    border-end-start-radius: 6px;
  }
  .alinea-rac-DateRangePicker-calendar-cell[data-selection-end] {
    background-color: var(--highlight-background);
    border-start-end-radius: 6px;
    border-end-end-radius: 6px;
  }
}

.alinea-rac-DateRangePicker-calendar-grid {
  border-spacing: 0px;
  td {
    padding: 0px;
    padding-top: 4px;
  }
}
[slot="start"] + span {
  padding: 0 4px;
  background-color: red;
  border-radius: 2px;
}

[slot="end"] {
  margin-right: 2rem;
  background-color: red;
  flex: 1;
}
