@import "../theme.css";

.alinea-rac-DateRangePicker {
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 8px 10px;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  background-color: transparent;
  font-size: 0.875rem;
  line-height: 1.5;
  color: var(--field-text-color);
  transition: var(--transition);

  &[data-hovered] {
    border-color: var(--border-color-hover);
  }
  &[data-focus-within],
  .react-aria-DateRangePicker[data-open="true"] & {
    border-color: var(--highlight-background);
    border-color: var(--indigo-500);
    box-shadow: 0 0 0 4px var(--highlight-overlay);
  }
  &[data-invalid="true"] {
    border: 1px solid var(--invalid-color);
    outline: 3px solid var(--invalid-overlay);
  }
  &[data-disabled] {
    pointer-events: none;
    background-color: var(--background-color);
    opacity: 0.5;
  }

  .alinea-rac-DateRangePicker-inputs {
    gap: 4px;
    display: flex;
    align-items: center;
  }

  .alinea-rac-DateRangePicker-input {
    display: flex;

    .alinea-rac-DateRangePicker-input-segment {
      padding-inline: 1px;

      &[data-placeholder] {
        color: var(--text-color-placeholder);
      }

      &:focus {
        outline: none;
        caret-color: transparent;
        color: var(--highlight-foreground);
        border-radius: 4px;
        background: var(--highlight-background);
      }
    }
  }

  .alinea-rac-DateRangePicker-separator {
    padding-inline: 4px;
  }

  .alinea-rac-DateRangePicker-trigger {
    cursor: pointer;
    border: none;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: transparent;
    margin-left: auto;
    transition: var(--transition);
    color: var(--icon-color-plain);
    font-size: 1rem;

    &[data-hovered],
    &[data-focus-within] {
      background-color: var(--background-color);
      color: var(--icon-color);
    }
  }
}

.alinea-rac-DateRangePicker-popover {
  position: absolute;
  z-index: 1000;
  border: 1px solid var(--border-color);
  background-color: var(--field-background);
  border-radius: 6px;
  box-shadow: var(--shadow-lg);
  max-width: 320px;
  width: fit-content;
  animation: fadeIn 0.2s ease-in-out;
}

.alinea-rac-DateRangePicker-calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--field-background);
  border-radius: 6px;
  padding: 12px;
  .alinea-rac-DateRangePicker-calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 8px;
    font-weight: bold;
    color: var(--text-color);
  }

  .alinea-rac-DateRangePicker-calendar-heading {
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
  }

  .alinea-rac-DateRangePicker-calendar-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 4px;
    color: var(--icon-color);
    transition: var(--transition);
  }

  .alinea-rac-DateRangePicker-calendar-cell {
    text-align: center;
    padding: 6px;
    font-size: 0.875rem;
    transition: var(--transition);
    cursor: pointer;
  }
  .alinea-rac-DateRangePicker-calendar-cell[data-selected] {
    background-color: var(--indigo-300);
    color: var(--highlight-foreground);
    font-weight: bold;
  }

  .alinea-rac-DateRangePicker-calendar-cell[data-disabled] {
    color: var(--text-color-disabled);
    cursor: not-allowed;
  }
  .alinea-rac-DateRangePicker-calendar-cell[data-selection-start] {
    background-color: var(--highlight-background);
    border-start-start-radius: 6px;
    border-end-start-radius: 6px;
  }
  .alinea-rac-DateRangePicker-calendar-cell[data-selection-end] {
    background-color: var(--highlight-background);
    border-start-end-radius: 6px;
    border-end-end-radius: 6px;
  }
}

.alinea-rac-DateRangePicker-calendar-grid {
  border-spacing: 0px;
  td {
    padding: 0px;
    padding-top: 4px;
  }
}
