@import "../theme.css";

.alinea-rac-Label {
  color: var(--text-color);
  font-size: 13px;
  font-weight: 600;
  display: block;
  padding-bottom: 6px;
  transition: var(--transition);
  transition-property: color;
}
