@import "../theme.css";

.alinea-rac-Label-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding-bottom: 6px;
  line-height: 1;
}

.alinea-rac-Label-title {
  flex-shrink: 0;
  display: flex;
  gap: 4px;
}

.alinea-rac-Label-icon {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--text-color);
}

.alinea-rac-Label-label {
  color: var(--text-color);
  font-size: 13px;
  font-weight: 600;
  transition: var(--transition);
  transition-property: color;
  padding-bottom: 1px;
}

.alinea-rac-Label-description {
  color: var(--text-color);
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  display: block;
  white-space: normal;
  word-wrap: break-word;
  max-width: 100%;
}

.alinea-rac-Label-error {
  color: var(--danger-500);
  font-size: 12px;
  padding-top: 4px;
}

.alinea-rac-Label-required {
  color: var(--danger-500);
  font-size: 12px;
}
