@import "../theme.css";

.alinea-rac-MenuItem {
  cursor: pointer;
  font-size: 0.875rem;
  padding: 0.4rem;
  padding-right: 2.4rem;
  display: flex;
  outline: none;
  align-items: center;
  border-radius: 4px;
  gap: 8px;
  position: relative;

  .alinea-rac-MenuItem-icon {
    font-size: 16px;
    margin-left: auto;
  }
  

  &[data-focus-visible] {
    outline: none;
  }

  &[data-selected] {
    font-weight: 600;
    background: var(--border-color);
    color: var(--text-color);
    position: relative;
  }

  &[data-focused],
  &[data-pressed] {
    background: var(--highlight-background);
    color: var(--highlight-foreground);
  }

  &[data-disabled] {
    pointer-events: none;
    opacity: 0.2;
  }
}

.alinea-rac-MenuHeader {
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--text-color-hover);
  padding: 4px 12px;
}

.alinea-rac-MenuSeparator {
  height: 1px;
  margin: 4px 8px;
  background-color: var(--border-color);
}
