@import "../theme.css";

.alinea-rac-MultipleSelect {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.alinea-rac-MultipleSelect-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  padding: 8px;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  background-color: transparent;
  transition: var(--transition);
}

.alinea-rac-MultipleSelect-container:focus-within {
  border-color: var(--highlight-background);
  border-color: var(--indigo-500);
  box-shadow: 0 0 0 4px var(--highlight-overlay);
}

.alinea-rac-MultipleSelect-tagGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}
.alinea-rac-MultipleSelect-tagList {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}
.alinea-rac-MultipleSelect-inputWrapper {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  align-items: center;
}

.alinea-rac-MultipleSelect-comboBox {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 8px;
}
.alinea-rac-MultipleSelect-input {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 6px;
  font-size: 14px;
  background: transparent;
  color: var(--text-color);
}

.alinea-rac-MultipleSelect-input::placeholder {
  color: var(--text-color-muted);
}

.alinea-rac-MultipleSelect-trigger {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
  transition: var(--transition);
  background-color: transparent;
  border: none;
}

.alinea-rac-MultipleSelect-trigger:hover {
  background-color: var(--background-color-hover);

  &[data-disabled] {
    background-color: transparent;
  }
}

.alinea-rac-MultipleSelect-empty {
  padding: 8px;
  color: var(--text-color-muted);
  font-size: 14px;
  text-align: center;
}

.alinea-rac-MultipleSelectItem {
  scroll-snap-align: start;
  cursor: pointer;
  font-size: 0.875rem;
  padding: 0.4rem;
  padding-right: 2.4rem;
  display: flex;
  outline: none;
  border-radius: 4px;
  justify-content: space-between;
  position: relative;

  .alinea-rac-MultipleSelectItem-check {
    font-size: 1rem;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }

  &[data-focus-visible] {
    outline: none;
  }

  &[data-selected] {
    font-weight: 600;
    background: var(--border-color);
    color: var(--text-color);
    position: relative;
  }

  &[data-focused],
  &[data-pressed] {
    background: var(--highlight-background);
    color: var(--highlight-foreground);
  }

  &[data-disabled] {
    pointer-events: none;
    opacity: 0.2;
  }
}
