@import "../theme.css";

.alinea-rac-SearchField {
  display: flex;
  border: 2px solid yellow;

  &:hover {
    border-color: var(--border-color-hover);
  }

  &:focus-within {
    border-color: var(--highlight-background);
    box-shadow: 0 0 0 4px var(--highlight-overlay);
  }

  .alinea-rac-SearchField-input {
    flex: 1;
    appearance: none;
    background: transparent;
    border: none;
    outline: none;

    &::-webkit-search-cancel-button,
    &::-webkit-search-decoration {
      -webkit-appearance: none;
    }
  }

  .alinea-rac-SearchField-clear {
    background: transparent;
    border: none;
  }
}
