@import "../theme.css";

.alinea-rac-Select {
  color: var(--text-color);

  .alinea-rac-Select-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
  }

  .alinea-rac-Select-button {
    background: none;
    flex: 1;
    font: inherit;
    outline: none;
    padding: 8px 10px;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    font-size: 0.875rem;
    line-height: 1.5;
    transition: var(--transition);
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: 2.4rem;

    &[data-hovered],
    &[data-focus-visible],
    &[aria-expanded="true"] {
      border-color: var(--highlight-background);
      box-shadow: 0 0 0 4px var(--highlight-overlay);
    }

    .alinea-rac-Select-button-value {
      flex-grow: 1;
      color: var(--field-text-color);
      margin-right: 16px;

      &[data-placeholder] {
        color: var(--text-color-placeholder);
      }
    }

    .alinea-rac-Select-button-arrow {
      font-size: 18px;
      color: var(--icon-color-plain);
    }
  }

  .alinea-rac-Select-button-clear {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    color: var(--icon-color-plain);
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 6px;
    transition: var(--transition);

    
  }

  .alinea-rac-Select-button-clear:hover {
    color: var(--icon-color-active);
  }
}

.alinea-rac-Select-popover {
  position: absolute;
  width: 100%;
  z-index: 10;
  max-width: var(--trigger-width, 600px);

  .alinea-rac-Select-popover-listbox {
    outline: none;
    overflow-y: auto;
    scrollbar-width: thin;
    width: 100%;
    display: block;
    min-height: unset;
    max-height: inherit;
    padding: 4px;
    border-radius: 6px;
    border: 1px solid var(--border-color);
    background-color: var(--field-background);
  }
}

.alinea-rac-SelectItem {
  cursor: pointer;
  font-size: 0.875rem;
  padding: 0.4rem;
  padding-right: 2.4rem;
  display: flex;
  outline: none;
  border-radius: 4px;
  justify-content: space-between;
  position: relative;

  .alinea-rac-SelectItem-check {
    font-size: 1rem;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }

  &[data-focus-visible] {
    outline: none;
  }

  &[data-selected] {
    font-weight: 600;
    background: var(--border-color);
    color: var(--text-color);
    position: relative;
  }

  &[data-focused],
  &[data-pressed] {
    background: var(--highlight-background);
    color: var(--highlight-foreground);
  }
}
