@import "../theme.css";

.alinea-rac-Select {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;

  .alinea-rac-Select-button {
    background: none;
    font: inherit;
    width: 100%;
    gap: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 10px;
    border-radius: 6px;
    border: 1px solid var(--border-color);
    outline: 4px solid transparent;
    font-size: 0.875rem;
    line-height: 1.5;
    text-align: left;
    color: var(--field-text-color);
    transition: var(--transition);

    &[data-hovered],
    &[data-focus-visible],
    &[aria-expanded="true"] {
      border-color: var(--highlight-border);
      outline-color: var(--highlight-overlay);
    }

    [data-invalid="true"] & {
      border-color: var(--invalid-color);
      outline-color: var(--invalid-overlay);
    }

    .alinea-rac-Select-button-value {
      flex-grow: 1;
      color: var(--field-text-color);

      &[data-placeholder] {
        color: var(--text-color-placeholder);
      }
    }

    .alinea-rac-Select-button-arrow {
      font-size: 18px;
      color: var(--icon-color);
      transition: transform 0.3s ease-out;

      [aria-expanded="true"] & {
        transform: rotate(180deg);
      }
    }
  }

  .alinea-rac-SelectClearButton {
    cursor: pointer;
    position: absolute;
    right: 38px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 100%;
    background-color: transparent;
    color: var(--icon-color);
    font-size: 18px;
    transition: var(--transition);
  }

  .alinea-rac-SelectClearButton:hover {
    background-color: var(--background-color);
  }
}

.alinea-rac-SelectPopover {
  position: absolute;
  width: 100%;
  z-index: 10;
  max-width: var(--trigger-width, 600px);

  .alinea-rac-SelectPopover-listbox {
    outline: none;
    overflow-y: auto;
    scrollbar-width: thin;
    width: 100%;
    display: block;
    min-height: unset;
    max-height: inherit;
    padding: 4px;
    border-radius: 6px;
    border: 1px solid var(--border-color);
    background-color: var(--field-background);
  }
}

.alinea-rac-SelectItem {
  cursor: pointer;
  font-size: 0.875rem;
  padding: 0.4rem;
  padding-right: 2.4rem;
  display: flex;
  outline: none;
  border-radius: 4px;
  justify-content: space-between;
  position: relative;

  .alinea-rac-SelectItem-check {
    font-size: 1rem;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }

  &[data-focus-visible] {
    outline: none;
  }

  &[data-selected] {
    font-weight: 600;
    background: var(--border-color);
    color: var(--text-color);
    position: relative;
  }

  &[data-focused],
  &[data-pressed] {
    background: var(--highlight-background);
    color: var(--highlight-foreground);
  }

  &[data-disabled] {
    pointer-events: none;
    opacity: 0.2;
  }
}
