/* @import "../todo/ListBox.css"; */
/* @import "../todo/Popover.css"; */
@import "../theme.css";

.alinea-rac-Select {
  color: var(--text-color);

  .alinea-rac-Select-button {
    background: none;
    font: inherit;
    outline: none;
    padding: 8px 10px;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    font-size: 0.875rem;
    line-height: 1.5;
    transition: var(--transition);
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    &[data-hovered],
    &[data-focus-visible],
    &[aria-expanded="true"] {
      border-color: var(--highlight-background);
      box-shadow: 0 0 0 4px var(--highlight-overlay);
    }

    .alinea-rac-Select-button-value {
      flex-grow: 1;
      color: var(--field-text-color);

      &[data-placeholder] {
        color: var(--text-color-placeholder);
      }
    }

    .alinea-rac-Select-button-arrow {
      padding-left: 8px;
      font-size: 18px;
      color: var(--icon-color-plain);
      display: flex;
    }
    .alinea-rac-Select-button-close {
      /* display: none; */
      background: none;
      border: none;
      cursor: pointer;
      padding: 0;
    padding-left: 4px;
      color: var(--icon-color-plain);
      font-size: 18px;
    }
  }
}

.alinea-rac-Select-popover {
  .alinea-rac-Select-popover-listbox {
    outline: none;
    overflow-y: auto;
    scrollbar-width: thin;
    width: 100%;
    display: block;
    min-height: unset;
    max-height: inherit;
    padding: 4px;
    border-radius: 6px;
    border: 1px solid var(--border-color);
    background-color: var(--field-background);
  }
}

.alinea-rac-SelectItem {
  cursor: pointer;
  font-size: 0.875rem;
  padding: 0.4rem;
  padding-right: 2.4rem;
  display: flex;
  outline: none;
  border-radius: 4px;
  justify-content: space-between;
  position: relative;

  .alinea-rac-SelectItem-check {
    font-size: 1rem;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }

  &[data-focus-visible] {
    outline: none;
  }

  &[data-selected] {
    font-weight: 600;
    background: var(--border-color);
    color: var(--text-color);
    position: relative;
  }

  &[data-focused],
  &[data-pressed] {
    background: var(--highlight-background);
    color: var(--highlight-foreground);
  }
}
