@import "../theme.css";

.alinea-rac-Table-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  border-top: 1px solid var(--border-color);
  border-right: none;
  border-left: 1px solid var(--border-color);
  max-width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.alinea-rac-data-overflow {
  width: 100%;
  overflow-x: auto;
  display: block;
  max-width: 100%;
  .alinea-rac-data-overflow::-webkit-scrollbar {
    height: 8px;
  }

  .alinea-rac-data-overflow::-webkit-scrollbar-track {
    background: var(--background-color);
  }

  .alinea-rac-data-overflow::-webkit-scrollbar-thumb {
    background: var(--border-color);
    border-radius: 4px;
  }
}

.alinea-rac-Table {
  width: 100%;
  min-width: max-content;
  border-collapse: collapse;
  background: transparent;
  outline: none;
  border-radius: 6px;

  .alinea-rac-Table-header {
    background-color: var(--header-background);
    color: var(--text-color);
    text-align: left;
    font-weight: bold;
    border-bottom: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
  }

  .alinea-rac-Table-column {
    padding: 12px;
    text-align: left;
    font-size: 14px;
  }
  .alinea-rac-Table-sortIndicator {
    font-size: 20px;
    color: var(--icon-color);
    margin-left: 6px;
    width: 24px;
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .alinea-rac-Table-row:hover {
    background-color: var(--background-hover);
  }
  .alinea-rac-Table-body {
    font-size: 14px;
    color: var(--text-color);
    width: 100%;
  }
  .alinea-rac-Table-cell {
    padding: 12px;
    white-space: normal;
    word-wrap: break-word;
    max-width: 200px;
    border-right: solid 1px var(--border-color);
    border-bottom: solid 1px var(--border-color);
  }
  .alinea-rac-Table-content {
    max-width: 100%;
    overflow-x: auto;
    display: flex;
  }
}

.alinea-rac-Table[data-striped] .alinea-rac-Table-row:nth-child(odd) {
  background-color: var(--background-striped);
}

.alinea-rac-Table-row[data-selected] {
  background-color: var(--table-color-selected) !important;
}
