@import "../theme.css";

.alinea-rac-Table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  background: var(--background-color);
  outline: none;
  overflow: hidden;
}

.alinea-rac-Table-overflow {
  overflow-x: auto;
  max-width: 100%;
}

.alinea-rac-Table-header {
  background-color: var(--header-background);
  color: var(--text-color);
  text-align: left;
  font-weight: bold;
  border-bottom: 2px solid var(--border-color);

  .alinea-rac-Column {
    padding: 12px;
    text-align: left;
    font-size: 14px;
  }

  .alinea-rac-Column-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .alinea-rac-Column-sortIndicator {
    font-size: 14px;
    color: var(--icon-color);
    margin-left: 6px;
  }
}

.alinea-rac-Table-body {
  font-size: 14px;
  color: var(--text-color);
}

.alinea-rac-Row {
  border-bottom: 1px solid var(--border-color);
}

.alinea-rac-Row:hover {
  background-color: var(--background-hover);
}

.alinea-rac-Table[data-striped] .alinea-rac-Row:nth-child(odd) {
  background-color: var(--background-striped);
}

.alinea-rac-Cell {
  padding: 12px;
  border-right: 1px solid var(--border-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.alinea-rac-Row .alinea-rac-Cell:last-child {
  border-right: none;
}

.alinea-rac-Row[data-selected] {
  background-color: var(--highlight-background) !important;
  color: var(--highlight-foreground) !important;
}

.alinea-rac-Row[data-selected] .alinea-rac-Cell {
  font-weight: bold;
}

.alinea-rac-Table-overflow::-webkit-scrollbar {
  height: 8px;
}

.alinea-rac-Table-overflow::-webkit-scrollbar-track {
  background: var(--background-color);
}

.alinea-rac-Table-overflow::-webkit-scrollbar-thumb {
  background: var(--border-color);
  border-radius: 4px;
}

.alinea-rac-Table-overflow::-webkit-scrollbar-thumb:hover {
  background: var(--border-color-hover);
}
