@import "../theme.css";

.react-aria-Tabs {
  display: flex;
  color: var(--text-color);

  &[data-orientation="horizontal"] {
    flex-direction: column;
  }

  &[data-variant="enclosed"] {
    align-items: flex-start;
  }
}

.react-aria-TabList {
  display: flex;

  &[data-orientation="horizontal"] {
    border-bottom: 1px solid var(--border-color);
  }

  [data-variant="subtle"] &,
  [data-variant="enclosed"] & {
    border: none;
    gap: 4px;
  }

  [data-variant="enclosed"] & {
    background-color: var(--gray-100);
    border-radius: 8px;
    padding: 4px;
  }
}

.react-aria-Tab {
  outline: none;
  cursor: pointer;
  position: relative;
  padding: 8px;
  color: var(--text-color-base);
  font-size: 14px;
  line-height: 1.25rem;
  font-weight: 500;
  transition: var(--transition);
  forced-color-adjust: none;

  &:before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: var(--highlight-background);
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: var(--transition);
    transition-property: transform;
  }

  [data-variant="subtle"] &,
  [data-variant="enclosed"] & {
    padding: 8px 16px;
    border-radius: 8px;

    &:before {
      display: none;
    }
  }

  &[data-hovered],
  &[data-focused] {
    color: var(--text-color-hover);

    [data-variant="subtle"] &,
    [data-variant="enclosed"] & {
      background-color: var(--gray-100);
    }
  }

  &[data-selected] {
    color: var(--text-color);

    [data-variant="subtle"] &,
    [data-variant="enclosed"] & {
      color: var(--indigo-500);
      background-color: var(--indigo-100);
    }

    &:before {
      transform-origin: bottom left;
      transform: scaleX(1);
    }
  }

  &[data-disabled] {
    color: var(--text-color-disabled);
    &[data-selected] {
      --border-color: var(--text-color-disabled);
    }
  }

  &[data-focus-visible]:after {
    content: "";
    position: absolute;
    inset: 4px;
    border-radius: 4px;
    border: 2px solid var(--focus-ring-color);
  }
}

.react-aria-TabPanel {
  margin-top: 4px;
  padding: 10px;
  border-radius: 4px;
  outline: none;

  &[data-focus-visible] {
    outline: 2px solid var(--focus-ring-color);
  }
}

.react-aria-Tabs {
  &[data-orientation="vertical"] {
    flex-direction: row;
  }
}

.react-aria-TabList {
  &[data-orientation="vertical"] {
    flex-direction: column;
    border-inline-end: 1px solid gray;

    .react-aria-Tab {
      border-inline-end: 3px solid var(--border-color, transparent);
    }
  }
}

.react-aria-Tab {
  &[data-disabled] {
    color: var(--text-color-disabled);
    &[data-selected] {
      --border-color: var(--border-color-disabled);
    }
  }
}

.react-aria-Tab[href] {
  text-decoration: none;
  cursor: pointer;
}
