@import "../theme.css";

.react-aria-ColorField {
  display: flex;
  flex-direction: column;
  color: var(--alinea-text-color);

  .react-aria-Input {
    padding: 0.286rem;
    margin: 0;
    border: 1px solid var(--alinea-border-color);
    border-radius: 6px;
    background: var(--alinea-field-background);
    font-size: 1.143rem;
    color: var(--alinea-field-text-color);
    width: 100%;
    max-width: 12ch;
    box-sizing: border-box;

    &[data-focused] {
      outline: 2px solid var(--alinea-focus-ring-color);
      outline-offset: -1px;
    }
  }

  &[data-invalid] {
    .react-aria-Input {
      border-color: var(--alinea-invalid-color);
    }
  }

  .react-aria-FieldError {
    font-size: 12px;
    color: var(--alinea-invalid-color);
  }

  [slot="description"] {
    font-size: 12px;
  }

  .react-aria-Input {
    &[data-disabled] {
      border-color: var(--alinea-border-color-disabled);
      color: var(--alinea-text-color-disabled);
    }
  }
}
