@import "../theme.css";

.react-aria-Switch {
  display: flex;
  align-items: center;
  gap: 0.571rem;
  font-size: 1.143rem;
  color: var(--alinea-text-color);
  forced-color-adjust: none;

  .indicator {
    width: 2rem;
    height: 1.143rem;
    border: 2px solid var(--alinea-border-color);
    background: var(--alinea-background-color);
    border-radius: 1.143rem;
    transition: all 200ms;

    &:before {
      content: "";
      display: block;
      margin: 0.143rem;
      width: 0.857rem;
      height: 0.857rem;
      background: var(--alinea-highlight-background);
      border-radius: 16px;
      transition: all 200ms;
    }
  }

  &[data-pressed] .indicator {
    border-color: var(--alinea-border-color-pressed);

    &:before {
      background: var(--alinea-highlight-background-pressed);
    }
  }

  &[data-selected] {
    .indicator {
      border-color: var(--alinea-highlight-background);
      background: var(--alinea-highlight-background);

      &:before {
        background: var(--alinea-field-background);
        transform: translateX(100%);
      }
    }

    &[data-pressed] {
      .indicator {
        border-color: var(--alinea-highlight-background-pressed);
        background: var(--alinea-highlight-background-pressed);
      }
    }
  }

  &[data-focus-visible] .indicator {
    outline: 2px solid var(--alinea-focus-ring-color);
    outline-offset: 2px;
  }

  &[data-disabled] {
    color: var(--alinea-text-color-disabled);

    .indicator {
      border-color: var(--alinea-border-color-disabled);

      &:before {
        background: var(--alinea-border-color-disabled);
      }
    }
  }
}
